*.iml
.gradle
/local.properties
/.idea/*
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

/gradlew
/gradlew.bat
/gradle/wrapper/

/app/proguard-rules.pro
/app/src/androidTest/
/app/src/debug/
/app/src/test/

/drinksmenu/consumer-rules.pro
/drinksmenu/proguard-rules.pro
/drinksmenu/src/androidTest/
/drinksmenu/src/test/

/fonts/consumer-rules.pro
/fonts/proguard-rules.pro
/fonts/src/androidTest/
/fonts/src/test/
/fonts/src/main/res/font/
*.ttf
